/* thead{
    background-color: grey;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
td{
    border-width: 0.2px;
    border-color: black;
}
table{
    text-align: center;
}

h2{
    font-size: 17px;
} */